.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(104, 88, 88);
}
.calculator{
  background-color: rgba(91, 83, 83, 0.827);
  padding: 20px;
  border-radius: 20px;
  height:450px ;
  width: 300px;
  border: 2px solid black;
  align-items: center;
  display: flex;
  box-shadow:3px 3px 20px rgb(0, 0, 0) ;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}


button{
  padding: 10px;
  font-size: 16px;
  outline: 0;
  border: none;
  height: 60px;
  width: 60px;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
  margin: 4px;
  border-radius: 50%;
   background-color: #0f0c0c14;   
  color: #fff;   
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
 
  justify-content: center;
  align-items: center;
}
button:hover{
  background-color: rgb(40, 157, 216);
}
  .display{
    height: 60px;
  width: 100%;

justify-content: flex-end;
border: 1px solid black;
border-radius: 15px;
margin: 5px 0px 20px 0px;
background-color: rgb(174, 136, 136);
font-size: 30px;
}

  
button.equal{
width: 120px;
border-radius: 15px;
}
button.equal:hover{
background-color: green;
}